{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<h2><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</h2>
{% if mensaje %}<div class="alert">{{ mensaje }}</div>{% endif %}
<form method="post" class="card">
    <label for="correo"><i class="fas fa-envelope"></i> Correo:</label>
    <input type="email" name="correo" id="correo" required>

    <label for="password"><i class="fas fa-lock"></i> Contraseña:</label>
    <input type="password" name="password" id="password" required>

    <button type="submit"><i class="fas fa-sign-in-alt"></i> Entrar</button>
</form>
{% endblock %}

